name: sstel

on:
  workflow_dispatch:
  # schedule:
  # - cron: "10 9 * * *"
  
jobs:
  job1:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}    
      CHAT_ID_1: ${{ secrets.CHAT_ID_1 }}      
       
    steps:
    - uses: actions/checkout@v3.5.2
    
    - name: Install Python
      uses: actions/setup-python@v4.6.0
          
    - name: RunPython
      run: |
        python V2/sstel/1.py
        python V2/sstel/2.py
        python V2/sstel/db.py
        

      
    - name: write
      run: |                 
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"
        git pull origin main
        git add -A
        git commit -m "Automatic update"
        git push
